@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

nav {
    display: none;
}

* {
    -webkit-tap-highlight-color: #00000000;
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    color: #000000;
    scroll-behavior: smooth;
    font-family: 'Roboto-Regular';
}

body {
    /*App Body*/
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fbfbfb;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #00446D, #002E4A);
    border-radius: 50px;
}

#appBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

#bar {
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    margin: -3px 20px 0px;
}

.fa-plus {
    color: #ffffff;
    font-size: 21px;
}

#drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0f0f0f4b;
    cursor: pointer;
    display: none;
}

#drawerSideBar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 85%;
    height: 100vh;
    background: #ffffff;
    transition: .5s;
}

#drawerSideBar.active {
    left: 0;
}

.sampleContentWrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sampleContentContainer {
    margin: 0px -2rem 0px;
}

.heading {
    font-size: 40px;
    margin-bottom: -10px;
    font-weight: bold;
    color: #002E4A;
    text-align: start;
}

.desciption {
    font-size: 17px;
    color: #002E4A;
    text-align: start;
}

@media all and (min-width: 600px) {
    /*Wide Screen View*/
    #drawerSideBar {
        width: 30%;
    }
}